{% extends 'base.html.twig' %}

{% block title %}Développeur Web Freelance{% endblock %}
{% block description %}
Après 5 ans d’études à l’école EPSI Montpellier dont 3 en alternance, 
j’ai co-fondé mon entreprise Codevia. En parallèle, 
j’ai lancé mon activité de développeur web freelance.
{% endblock %}

{% block body %}
<section class="bg-grid position-relative">
  <div class="bg-gradient-to-bottom pb-8 pt-4 pt-sm-6 pt-lg-8">
    <div class="container">
      <div class="mx-auto w-md-75 flex flex-column text-md-center">
        <h1 class="display-3 fw-bold lh-1 mb-4">
          Développeur Web Freelance.
        </h1>

        <p class="lead fs-4 lh-1 w-md-75 mx-auto mb-4">
          Passionné par le développement web depuis plus de 10 ans,
          je vous accompagne dans la réalisation de vos projets web.
        </p>

        <div class="row g-2 justify-content-md-center">
          <div class="col-auto">
            <twig:Button href="{{ path('app_home_applications') }}" icon>
              <span>Mes applications</span>
              <twig:Icon name="arrow-right-long" />
            </twig:Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-body-tertiary pt-5 pb-6">
  <div class="container">
    <div class="row justify-content-around gy-5">
      <div class="col-auto mb-md-n7" style="max-width: min(20rem, 100%);">
        <div class="card h-md-100 mt-n7 mb-md-n7 border-0 rounded-3 shadow-sm overflow-hidden">
          <img src="{{ asset('images/me.webp') }}" alt="Photo de profil de Vincent Bathelier" class="card-img-top h-auto" width="720" height="720">
          <div class="card-body">
            <h2 class="card-title h4 fw-bold">Vincent BATHELIER</h2>
            
            <div class="row g-2 mt-n3">
              <div class="col-auto">
                <span class="badge bg-primary-subtle text-primary-emphasis">backend</span>
              </div>
              <div class="col-auto">
                <span class="badge bg-success-subtle text-success-emphasis">frontend</span>
              </div>
              <div class="col-auto">
                <span class="badge bg-secondary-subtle text-secondary-emphasis">ci / cd</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md col-lg-6 align-self-center">
        <div class="d-inline-block rounded-4 p-3 bg-warning text-warning display-5 mb-3" style="--bs-bg-opacity: 0.1">
          <twig:Icon name="signs-post" fixedWidth />
        </div>
        
        <h2 class="display-5 fw-semibold mb-3">Mon parcours.</h2>
        
        <p class="lead mb-4">
          Après 5 ans d’études à l’école EPSI Montpellier dont 3 en alternance, 
          j’ai co-fondé mon entreprise Codevia. 
          En parallèle, j’ai lancé mon activité de développeur web freelance.
        </p>
        
        <twig:Button variant="secondary" icon>
          <span>Mes prestations</span>
          <twig:Icon name="arrow-right-long" />
        </twig:Button>
      </div>
    </div>
  </div>
</section>

<section class="bg-body pt-8">
  <div class="container">
    <div class="mb-4">
        <div class="d-inline-block rounded-4 p-3 bg-success text-success display-5 mb-3" style="--bs-bg-opacity: 0.1">
          <twig:Icon name="code" fixedWidth />
        </div>

        <h2 class="display-5 fw-semibold mb-3">Mes outils</h2>
        
        <div class="row">
          <div class="col-lg-7">
            <p class="lead">
              Dans le monde du développement web, la diversité des technologies est à la fois une richesse et un défi. 
              Face à une multitude d’outils, de langages et de frameworks, il est essentiel de faire des choix 
              stratégiques pour approfondir son expertise et bâtir des solutions solides. 
            </p>
          </div>
          
          <div class="col-lg-7">
            <p class="text-secondary">
              Plutôt que de tout maîtriser superficiellement, j’ai sélectionné les technologies qui me permettent d’être efficace, 
              performant et en phase avec les besoins des projets que je réalise.
            </p>
          </div>
        </div>
    </div>

    <div class="bg-grid rounded-4 border shadow-sm overflow-hidden mb-n5 position-relative" style="z-index: 10;">
      <div class="bg-gradient-to-bottom p-5">
        <div class="row justify-content-center gy-5 gx-4">
          <div class="col-md-6 col-lg-4">
            <twig:Svg 
              src="@images/frameworks/vue.svg" 
              class="mb-3"
              style="height: 4rem;" 
            />
            <h3>
              <a href="https://vuejs.org" class="link-body-emphasis icon-link" target="_blank">
                Vue.js
                <small><twig:Icon name="up-right-from-square" size="xs"/></small>
              </a>
            </h3>
            <p>
              Un framework accessible, performant et polyvalent pour créer des interfaces utilisateur Web.
            </p>
          </div>
          
          <div class="col-md-6 col-lg-4">
            <twig:Svg 
              src="@images/frameworks/typescript.svg" 
              class="mb-3"
              style="height: 4rem;" 
            />
            <h3>
              <a href="https://www.typescriptlang.org" class="link-body-emphasis icon-link" target="_blank">
                TypeScript
                <small><twig:Icon name="up-right-from-square" size="xs"/></small>
              </a>
            </h3>
            <p>
              TypeScript est un langage de programmation fortement typé s'appuyant sur JavaScript,
              offrant de meilleurs outils à n'importe quelle échelle.
            </p>
          </div>
          
          <div class="col-md-6 col-lg-4">
            <twig:Svg 
              src="@images/frameworks/sass.svg" 
              class="mb-3"
              style="height: 4rem;" 
            />
            <h3>
              <a href="https://sass-lang.com" class="link-body-emphasis icon-link" target="_blank">
                Sass
                <small><twig:Icon name="up-right-from-square" size="xs"/></small>
              </a>
            </h3>
            <p>
              Sass est le langage d'extension CSS de qualité professionnelle le plus mature,
              le plus stable et le plus puissant au monde.
            </p>
          </div>
          
          <div class="col-md-6 col-lg-4">
            <twig:Svg 
              src="@images/frameworks/symfony.svg" 
              class="mb-3"
              style="height: 4rem;" 
            />
            <h3>
              <a href="https://symfony.com" class="link-body-emphasis icon-link" target="_blank">
                Symfony
                <small><twig:Icon name="up-right-from-square" size="xs"/></small>
              </a>
            </h3>
            <p>
              Le principal framework PHP pour créer des sites Web et des applications Web.
              Construit avec les composants Symfony.
            </p>
          </div>
          
          <div class="col-md-6 col-lg-4">
            <twig:Svg 
              src="@images/frameworks/php.svg" 
              class="mb-3"
              style="height: 4rem;" 
            />
            <h3>
              <a href="https://php.net" class="link-body-emphasis icon-link" target="_blank">
                PHP
                <small><twig:Icon name="up-right-from-square" size="xs"/></small>
              </a>
            </h3>
            <p>
              Un langage de script populaire à usage général particulièrement adapté au développement web.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-body-tertiary py-8" style="z-index: 1;">
  <div class="container mt-3">
    <div class="flex text-primary display-5 mb-3">
      <div class="d-inline-block rounded-4 p-3 bg-primary display-5 my-3" style="--bs-bg-opacity: 0.1">
        <twig:Icon name="face-smile" fixedWidth />
      </div>

      <twig:Icon name="ellipsis" fixedWidth />
      <twig:Icon name="handshake-simple" fixedWidth />
    </div>
    
    <h2 class="display-5 fw-semibold mb-3">Ils me font confiance. Et vous ?</h2>

    <div class="row mb-3">
      <div class="col-lg-7">
        <p class="lead">
          La collaboration avec des entreprises exigeantes m’a permis de relever des défis stimulants et de concevoir
          des solutions personnalisées, adaptées à leurs besoins spécifiques. Ces clients me font confiance en raison
          de mon expertise et de mon engagement à livrer des projets de qualité. Pourquoi ne pas vous joindre à eux ?
          Donnons vie ensemble à vos idées !
        </p>
      </div>
    </div>

    <div class="row align-items-end gy-5">
      <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <div class="text-center lead mb-2">
          <div class="fw-bold">Votre entreprise ?</div>
          <twig:Icon name="hand-back-point-down" size="xl" class="text-warning" />
        </div>
        <div class="ratio ratio-1x1 w-100">
          <div class="border rounded-5 d-flex justify-content-center align-items-center" style="
            --bs-border-style: dashed;
            --bs-border-width: 6px;
            --fa-animation-duration: 2s;
          ">
            <twig:Icon name="block-question" class="display-4 fa-fade text-primary" />
          </div>
        </div>
      </div>
      
      <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <a class="link-image" href="https://www.purplegiraffe.fr" target="_blank" aria-label="Aller sur le site de Purple Giraffe">
          <img src="{{ asset('images/companies/purple-giraffe.webp') }}" alt="Purple Giraffe" width="448" height="448" class="img-fluid rounded-5 shadow-sm">
        </a>
      </div>
      
      <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <a class="link-image" href="https://www.vegace.fr" target="_blank" aria-label="Aller sur le site de VegaCE">
          <img src="{{ asset('images/companies/vegace.webp') }}" alt="VegaCE" width="448" height="448" class="img-fluid rounded-5 shadow-sm">
        </a>
      </div>

      <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <a class="link-image" href="https://www.epsi.fr/campus/montpellier" target="_blank" aria-label="Aller sur le site de EPSI Montpellier">
          <img src="{{ asset('images/companies/epsi.webp') }}" alt="EPSI Montpellier" width="448" height="448" class="img-fluid rounded-5 shadow-sm">
        </a>
      </div>
      
      <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <a class="link-image" href="https://ifip.asso.fr" target="_blank" aria-label="Aller sur le site de IFIP">
          <img src="{{ asset('images/companies/ifip.webp') }}" alt="IFIP" width="448" height="448" class="img-fluid rounded-5 shadow-sm">
        </a>
      </div>
      
      <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <a class="link-image" href="https://my-carto.com" target="_blank" aria-label="Aller sur le site de AB+ Software">
          <img src="{{ asset('images/companies/abplus.webp') }}" alt="AB+ Software" width="448" height="448" class="img-fluid rounded-5 shadow-sm">
        </a>
      </div>
      
      <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <a class="link-image" href="https://www.cdi-neuf.fr" target="_blank" aria-label="Aller sur le site de CDI Neuf">
          <img src="{{ asset('images/companies/cdi-neuf.webp') }}" alt="CDI Neuf" width="448" height="448" class="img-fluid rounded-5 shadow-sm">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-body py-8">
  <div class="container">
    <div class="flex text-secondary display-5 mb-3">
      <div class="d-inline-block rounded-4 p-3 bg-secondary" style="--bs-bg-opacity: 0.1">
        <twig:Icon name="lock-keyhole-open" fixedWidth />
      </div>

      <twig:Icon name="ellipsis" fixedWidth />
      <twig:Icon name="globe-pointer" fixedWidth />
    </div>

    <h2 class="display-5 fw-semibold mb-3">Contributions Open-Source.</h2>

    <div class="row mb-3">
      <div class="col-lg-7">
        <p class="lead">
          Le monde du numérique repose en grande partie sur l’open-source, 
          une philosophie de partage et de collaboration sans laquelle il ne serait pas ce qu’il est aujourd’hui. 
          Contribuer à ces projets, c’est participer à une dynamique d’innovation collective, 
          améliorer des outils et transmettre à mon tour ce que la communauté m’a apporté.
        </p>
      </div>
    </div>

    <div class="row g-3 justify-content-center">
      <div class="col-sm-9 col-md-6 col-lg-4">
        <a class="link-image" href="https://github.com/epsi-wis-alumni/gestion-adhesions" target="_blank" rel="noopener noreferrer">
          <img
            class="img-fluid rounded-4 border shadow-sm"
            src="https://opengraph.githubassets.com/f10fed784fc87d380aca1950639418abf7da8cf8ab5f9d27d75d7365fd17947a/epsi-wis-alumni/gestion-adhesions"
            alt="Preview image of epsi-wis-alumni/gestion-adhesions repository"
            width="1200"
            height="600"
          >
        </a>
      </div>

      <div class="col-sm-9 col-md-6 col-lg-4">
        <a class="link-image" href="https://github.com/hwi/HWIOAuthBundle" target="_blank" rel="noopener noreferrer">
          <img
            class="img-fluid rounded-4 border shadow-sm"
            src="https://opengraph.githubassets.com/9d68cfa3cb018cca461ef4b9d92564f336da5c2f07104a3d7e2d71b3f2fe66f1/hwi/HWIOAuthBundle"
            alt="Preview image of hwi/HWIOAuthBundle repository"
            width="1200"
            height="600"
          >
        </a>
      </div>

      <div class="col-sm-9 col-md-6 col-lg-4">
        <a class="link-image" href="https://github.com/lawmurray/jekyll-responsive-magick" target="_blank" rel="noopener noreferrer">
          <img
            class="img-fluid rounded-4 border shadow-sm"
            src="https://opengraph.githubassets.com/9e6337cc4568c7fee913eac0f4f8ce599567ed5b7c9f7a8db92d2c96492631d8/lawmurray/jekyll-responsive-magick"
            alt="Preview image of lawmurray/jekyll-responsive-magick repository"
            width="1200"
            height="600"
          >
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
